<html>

<body>



		<div class="grid grid-pad">
			<div class="col-1-2">
					<div class="content">
						<h1>INFERENCE</h1>
						<p>Inference was created for small teams to get instantaneous feeedbacks. The concept is to start a session to rate on specific feedback items on a 1-5 scale .Each voter finishes and passes on to the next voter and finally when the session finishes, the results are the averaged on each item. The vote's are not registered in the system,it dies when the session is finished. Each feedback item is configurable and customizable. They are stored in the system for next time use.
						 Themes for the feedback items are put together from the characters based on 'The Lego Movie'. This application utilizes opensource frameworks like simplegrid responsive layout , jQuery , Ruby on Rails etc. </p>
						<p>This is a simplistic tool determining the team health and direction.</p>
					</div>	
			</div>
			<div class="grid grid-pad">
				<div class="col-1-1">
				<div class="content heading">
					We can begin by 
				</div>
			</div>
		</div>					
		<div class="grid grid-pad">
			<div class="col-1-4">
				<div class="content options">
					<!--Empty PlaceHolder-->
				</div>
			</div>	
					
			<div class="col-1-4">
				<a href='/feedback_items' class='flat-off'>
				<div class="content options display">
					<img src='/assets/configure.png' height='64' width='64'/>
					<h3>Configuring the feedback items</h3>
					</a>
				</div>
			</div>
			<div class="col-1-4 no-border">
				<a href='/session/start' class='flat-off'>
				<div class="content options display">
					<img src='/assets/start-session.png' height='64' width='64'/>
					<h3>Starting a new feedback session</h3>
				</div>
				</a>
			</div>
			<div class="col-1-4">
				<div class="content options">
					<!--Empty PlaceHolder-->
				</div>
			</div>
		</div>
		</div>
		<div class="grid grid-pad">
				<div class="col-1-1">
				<div class="content tip">
				(Click one of the above )
				</div>
			</div>
		</div>



</body>
</html>
