<%= render 'admin/nav'%>
<div class="container">
<h1>Editing FeedBack Item</h1>
<%= render 'form' %>
<%= link_to 'Show', @feedback_item ,  { :class=>"btn btn-primary" } %> |
<%= link_to 'Back', feedback_items_path , { :class=>"btn btn-primary" }	%>
</div>
