// Place all the styles related to the admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



body{
background:url(page-background.jpg);
}
.heading{
font-size: 30px;
text-shadow: 1px 1px 1px #555;
text-align: center;
border-top: 1px solid rgb(215, 216, 215);
padding: 15px;
}

.options{
min-height:80px;
}
.options.display{
text-align:center;
border-right:1px dotted;
padding:10px;
}

@media handheld, only screen and (max-width: 767px){
.options.display{
border:none;
}
}

.no-border .options {
border:none;
}

a.flat-off{
text-decoration: none;
color: black;}

.tip{
font-size:10px;
text-decoration:none;
text-align:center;	
}
