// Place all the styles related to the FeedbackItems controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.feedback-item{
border-radius:15px;
padding:15px;
border:1px solid black;
}

.feedback-item img{
float:right;
height:100px;
width:100px;
}

.batman-theme{
background:black;
color:white;
}
