// Place all the styles related to the session controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.feedback .score{
height: 80px;
width: 100px;
border: 5px double;
float: right;
font-size: 56px;
text-align: center;
padding: 1px;
vertical-align: text-bottom;
font-weight: bolder;
}

.feedback .source{
	float: right;
position: relative;
top: 85px;
right: -50px;
display: block;
}